<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand link-light" routerLink="">Rotas Ng2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link link-light" routerLinkActive="text-decoration-underline" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link link-light" routerLinkActive="text-decoration-underline" routerLink="/cursos" [queryParams]="{pagina:1}">Courses</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link link-light" routerLinkActive="text-decoration-underline" [routerLink]="['curso', idCurso.value]">Course with id</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link link-light" routerLinkActive="text-decoration-underline" routerLink="/alunos">Alunos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-md">
  <h5>Entre com a ID do curso</h5>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" #idCurso placeholder="ID do curso">
    <label for="floatingInput">ID do curso</label>
  </div>

  <router-outlet></router-outlet>
</div>




