<link rel="stylesheet" href="./exemplos-pipes.component.css">
<body>
<h5>Pipes Examples</h5>

<p>Title: {{ book.title | uppercase | lowercase | camelCase }} </p>
<p>Stars: {{ book.rating | number:'1.1-1' }} </p>
<p>Pages: {{ book.pageNumbers | number }}</p>
<p>Price: {{ book.price | currency:'BRL' }} </p>
<p>Release Date: {{ book.releaseDate | date }} </p>
<p>URL: {{ book.url }} </p>
<br>
<p>Book: {{ book | json }} </p>

<h4>Add course</h4>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">add curso</button>

<h4>Filter course</h4>
<input type="text" [(ngModel)]="filtro">

<h5>Pipe Puro</h5>

<ul>
  <li *ngFor="let book of books | filtroArray:filtro">
    {{ book }}
  </li>
</ul>

<h5>Pipe Impuro</h5>

<ul>
  <li *ngFor="let book of books | filtroArrayImpuro:filtro">
    {{ book }}
  </li>
</ul>

<h5>Maneira correta de usar filtros nos projetos</h5>

<ul>
  <li *ngFor="let book of obterCursos()">
    {{ book }}
  </li>
</ul>

</body>
