<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-direitiva-ngswitch></app-direitiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
  Conteúdo passado para o componente.
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->

<!-- <app-exemplo-ng-content>
  <div class="title">
    Título do painel
  </div>
  <div class="content">
    Conteúdo passado para o componente.
    <app-operador-elvis></app-operador-elvis>
  </div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>
