<p>Página: {{pagina}} </p>
<div class="list-group">
  <a class="list-group-item list-group-item-action active" aria-current="true">
    Lista de Cursos
  </a>
  <a class="list-group-item list-group-item-action" *ngFor="let curso of cursos" [routerLink]="['/curso', curso.id]">
    {{ curso.nome }}
  </a>
</div>
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="paginaAnterior()">Previous</a></li>
    <li class="page-item"><a class="page-link" >1</a></li>
    <li class="page-item"><a class="page-link" >2</a></li>
    <li class="page-item"><a class="page-link" >3</a></li>
    <li class="page-item"><a class="page-link" (click)="proximaPagina()">Next</a></li>
  </ul>
</nav>
